<ion-header>
    <ion-toolbar>
        <ion-title>
            Pendaftaran Seminar ICT 2019
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="scannedCode">
        <ion-card-header>
            <ion-card-title>Maklumat Peserta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>Nama: {{ qrInfo.Nama }} </ion-item>

            <ion-item>Emel: {{ qrInfo.Emel }} </ion-item>

            <ion-item>IC: {{ qrInfo.IC }} </ion-item>

            <ion-item>Jabatan: {{ qrInfo.Jabatan }} </ion-item>

            <ion-item>Daerah: {{ qrInfo.Daerah }} </ion-item>

            <ion-button expand="full" color="secondary" (click)="pagi()">Sesi Pagi</ion-button>
            <ion-button expand="full" color="tertiary" (click)="petang()">Sesi Petang</ion-button>

        </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="scanCode()">Scan QR Code</ion-button>
   
</ion-content>